body {
  font-family: Roboto;
}
.home-container {
  height: 100%;
  text-align: center;
  background: url(/img/tree-gn.svg) no-repeat fixed;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

  background-size: 130% 1500px;
  background-color: #3498db;
  background-position: left;
}
.section-header {
  font-size: 44px;
  line-height: 44px;
  color: #ff615f;
  margin-bottom: 10px;
}
.section-subheader {
  font-size: 24px;
  line-height: 31px;
  color: #aeaeae;
}
.section-space {
  height: 2px;
  width: 100%;
  /*background-image: url(../img/horizontal-chain.png);
  background-repeat: no-repeat;
  background-size:40px 40px;
  background-position:center;*/

  margin-top: 60px;
  margin-bottom: 120px;
}
.h-chain {
  height: 60px;
  width: 60px;
  margin-top: -30px;
}
.subsection-icon {
  font-family: FontAwesome;
  color: #ff615f;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 10px;
}
.subsection-header {
  font-size: 24px;
  line-height: 44px;
  color: #ff615f;
}
.subsection-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 250px;
}
.register-header {
  color: #ffffff;
  margin-top: 50px;
}
.register-subheader {
  color: #ffffff;
  margin-bottom: 150px;
}
.register-btn {
  background-color: #aeaeae;
}
.register-btn:hover {
  background-color: #c0c0c0;
}
.home-footer {
  background-color: #27ae60;
  text-align: center;
  padding-bottom: 60px;
}
