/*td, tr {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}*/
table{
border-collapse:collapse;
}

table, th, td{
border: 1px solid black;
}

body{
font-family: Verdana, Arial, Sans-serif;
}

a.title{font-size:24px;font-style:italic;}
a.title:link {text-decoration:none;color:#000000}
a.title:visited {text-decoration:none;color:#000000}
a.title:hover {text-decoration:underline;color:#000000}
a.title:active {text-decoration:underline;color:#000000}

a.subheader{font-size:20px;font-family:Adobe Caslon Pro}
a.subheader:link {text-decoration:none;color:#000000}
a.subheader:visited {text-decoration:none;color:#000000}
a.subheader:hover {text-decoration:underline;color:#000000}
a.subheader:active {text-decoration:underline;color:#000000}
p {
font-size:14px;
line-height:140%;
}

/*footer stuff*/
.footer {font-size: 10px;color:#757575;}
a.footer:link {text-decoration:none;}
a.footer:visited {text-decoration:none;}
a.footer:hover {text-decoration:underline;}
a.footer:active {text-decoration:underline;}

/*Blockquotes*/
blockquote p { margin-bottom: 10px; font-style: italic; font-size: 16px }
blockquote cite { font-style: normal; display: block; text-align: right; text-transform: uppercase; font-size: 12px; font-weight: bold; letter-spacing: 1px; font-family: Helvetica, Arial, sans-serif; }

blockquote {
	font-family: Georgia, Times, serif;
	width: 400px; /* required */
	margin: 0 auto;
	}
	
/*
 |	The #quote_wrap div is created
 |	by Quovolver to wrap the quotes
*/

#quote_wrap { 
	background: #fbffec url(
	http://sandbox.sebnitu.com/jquery/quovolver/demo/images/quote-mark.png
	) no-repeat 20px 20px;
	margin: 40px 0; padding: 20px 0 20px 20px; border: 1px solid #edffaf;
	}
