@main: #27ae60;
@main-dark: #207f3b;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

@font-face
{
  font-family: FontAwesome;
  src: url("/font/fontawesome-webfont.woff");
}
h1,h2,h3,h4,h5,h6 {
  font-family: Roboto, sans-serif;
}
body {
  padding-top:60px;
  /*background-color:#ebebeb;*/
  font-family: Roboto, sans-serif;
  /*overflow-y: hidden;*/
  overflow-x:hidden;
  //color:#ffffff;
}
dd{ //definitions
  margin-bottom:25px;
}


/* ----------NAVBAR ELEMENTS---------- */

.navbar,
.navbar-inverse,
.navbar-fixed-top,
.nav-collapse {
  background-color:@main;
  padding-left:10px;
  padding-right:10px;
  border:none;
}

.fade (@time: background 0.2s linear) {
  -webkit-transition: @time;
  -moz-transition: @time;
  -ms-transition: @time;
  -o-transition: @time;
  transition: @time;
}

.navbar {
  //min-height: 60px;
  //box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  .fade;
}

/*collapse button*/
.navbar .navbar-toggle {
  border:none;
  border-radius:0px;
  margin-top:-9px;
  margin-right:-10px;
  height:60px;
  width:60px;
  padding-left:19px;
  z-index: 10;
  .fade;
}

.navbar .navbar-toggle:hover {
  background-color:rgba(0,0,0,0.2);
}

.navbar-toggle .icon-bar {
  height:7px;
  width:7px;
  margin-left:8px;
  border-radius:0;
}

.navbar .nav.navbar-nav > li {
  >a{
    //padding: 5px 25px;
    color:#ffffff;
    //height:60px;
    line-height:30px; //this influences height of navbar
    font-size:17px;
    border-radius:0px;
    vertical-align: middle;
    .fade;
  }
}
.navbar .navbar-collapse .nav.navbar-nav > li {
  >a:hover,>a:focus {
    background-color:@main-dark;
  }
}

.navbar .navbar-brand{
  font-size:25px;
  margin-top:0px;
  font-family:Roboto;
  color:#ffffff;
  max-width: none;
  img {
    margin-top: -15px;
    margin-bottom: -10px;
  }
}

.navbar-icon {
  font-family:FontAwesome;
  font-size:45px;
  line-height:50px;
  text-align:center;
  margin-right:15px;
}

.picture-icon {
  height: 40px;
  width: 40px;
  margin-top:-3px;
  margin-right: 17px;
  vertical-align: middle;
}

/*padding from the top of screen from navbar*/
.home-nav {
  margin-top:50px;
  padding-left:25px;
  padding-right:25px;
}

/*custom navtab navigation*/
.tabbar {
  background-color: #34495e;
  border-radius: 6px 6px 0 0;
  margin-bottom:10px;
  padding-left:0;
  padding-right:0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/*Alert Message*/
.alert{
  margin-top:20px;
}


////////////////////////
/*CUSTOM FORM CONTROL*/
////////////////////////
.form-custom {
  &:-moz-placeholder,&::-moz-placeholder,&:-ms-input-placeholder,&::-webkit-input-placeholder{
  color: #999999;
  }
}

.form-custom {
  //display: block;
  //width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-custom:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-custom[disabled],
.form-custom[readonly],
fieldset[disabled] .form-custom {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-custom {
  height: auto;
}