*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

*.idea

/application/config/database.php
/application/config/config.php
/application/config/email.php
/css/main.css
/css/home.css
/js/admin.js
/js/home.js
/js/memberlist.js
/js/profile.js
*.map

node_modules